@{
    /* ViewData["Title"] = "Home Page"; */
}


<!-- Banner Start -->

    <div class="container-fluid" id="about">
        <div class="row">
            <div class="col-3 offset-md-1" id="about_text">
                <h1 class="about_texting">ABOUT US</h1>
                <p><a href="Home.html" class="about_texting_phara"> Home </a>/ About Us</p>
            </div>
        </div>
    </div>
<!-- Banner End -->

<!-- Body Start -->

    <div class="container" id="text_body">
        <div class="row">
            <div class="col-4 offset-md-4" id="about_text">
                <h5 class="About_History_">OUR HISTORY</h5>
                <h1><b> Car Spare Parts </b></h1>
            </div>
        </div>
        <div class="row" id="about_decp">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisd nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut pers unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consec adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
          
        </div>
    </div>

    <div class="container" id="about_images">
        <div class="row">
            <div class="col-md-3">
                <img src="/images/about 1.jpg" alt="About Image 1">
            </div>
            <div class="col-md-3 offset-1" id="about2">
                <img src="/images/about 2.jpg" alt="About Image 1" >
         
            </div>
            <div class="col-md-3 offset-1">
                <img src="/images/about 3.jpg" alt="About Image 1">
         
            </div>
        </div>
    </div>

<!-- Body End -->

<!-- Team Start -->

    <div class="container-fluid" id="team">
        <div class="row">
            <div class="col-4 offset-md-4" id="about_team">
                <h5>OUR EXPERT</h5>
                <h1><b> Team Member </b></h1>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-md-4" id="team1">  
                <h2>Jaren Hammer</h2>
                <h6>Salesman & Engineer</h6>
            </div>
            
            <div class="col-md-4" id="team2">  
                <h2>Jaren Hammer</h2>
                <h6>Salesman & Engineer</h6>
            </div>
            
            <div class="col-md-4" id="team3">
                <h2>Jaren Hammer</h2>
                <h6>Salesman & Engineer</h6>  
            </div>
        </div>
    </div>
    </div>

<!-- Team End -->
    
