@{
 //   ViewData["Title"] = "Home Page"; 
}


<!-- Banner Start -->

<div class="container-fluid" id="about">
    <div class="row">
        <div class="col-3 offset-md-1" id="about_text">
            <h1>CONTACT US</h1>
            <p><a href="Home.html"> Home </a>/  Contact Us</p>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Phone Scetion Start -->

<div class="container" id="phone_section">
    <div class="row">
    <div class="col-md-3 offset-1" id="phone" >
        <div class="container phone_img">
            <div class="row" id="photo_logo_row">

            <img src="/images/phone.png" alt="phone logo" id="phone_logo">
        </div>
        <h2 id="phone_text">Phone/Fax</h2>
            <p id="phone_text_p">0123456789</p>

        </div>

    </div>

    <div class="col-md-3 offset-1" id="phone" >
        <div class="container phone_img">
            <div class="row" id="photo_logo_row">

            <img src="/images/message.png" alt="phone logo" id="phone_logo">
        </div>
        <h2 id="phone_text">Email/Web</h2>
            <p id="phone_text_p">demo@example.com</p>

        </div>

    </div>
    
    <div class="col-md-3 offset-1" id="phone" >
        <div class="container phone_img">
            <div class="row" id="photo_logo_row">

            <img src="/images/home.png" alt="phone logo" id="phone_logo">
        </div>
        <h2 id="phone_text">Address:</h2>
            <p id="phone_text_p">University of sialkot</p>

        </div>

    </div>
</div>

</div>
<!-- Phone Scetion End -->
    
    <div class="container-fluid" id="form_section" >
        <div class="row" id="form_inner_section">
            <div class="col-6" id="contact_img"></div>
            <div class="col-6" id="contact_form">
                <div class="row">
                    <h2 id="send_massage_text" style="color: black;"><b> Send Us a Massage</b></h2>
                    <form action="post">
                    <input type="text" id="name" placeholder="Enter Name">
                    <input type="text" id="email" placeholder="Enter Email">
                    <textarea name="Messege" id="messege" placeholder="Enter Messege"></textarea>    
                    
                    <button class="btn btn-primary" id="send_button">Send Message</button>
                </form>
                </div>
            </div>
        </div>
    </div>

