@{
//    ViewData["Title"] = "Shop";
}


<!-- Banner Start -->

<div class="container-fluid" id="shop">
    <div class="row">
        <div class="col-3 offset-md-1" id="shop_text">
            <h1 class="shop_texting">Shop</h1>
            <p class="shop_texting_phara"><a href="Home.html" > Home </a>/ Shop </p>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- style="background-color: yellow;" -->

<!-- Items Start -->
<div class="container-fluid" id="shop_product">
    <div class="row">

        <div class="col-md-3" id="first_product_background" >
            <img src="~/images/product1.jpg" alt="First Product" id="product">
            <h3 id="product_title"> <b> Auto Clutch & Brake</b></h3>
            <p id="product_price">Price: $120.0</p>
              <a class="Item_button" asp-area="" asp-controller="Home" asp-action="Single_product">Shop Now</a>
          </div>

        <div class="col-md-3" id="first_product_background" >
            <img src="~/images/product1.jpg" alt="First Product" id="product">
            <h3 id="product_title"> <b> Auto Clutch & Brake</b></h3>
            <p id="product_price">Price: $120.0</p>
            <a class="Item_button" asp-area="" asp-controller="Home" asp-action="Single_product">Shop Now</a>
    
        </div>

        <div class="col-md-3" id="first_product_background" >
            <img src="~/images/product1.jpg" alt="First Product" id="product">
            <h3 id="product_title"> <b> Auto Clutch & Brake</b></h3>
            <p id="product_price">Price: $120.0</p>
            <a class="Item_button" asp-area="" asp-controller="Home" asp-action="Single_product">Shop Now</a>
    
        </div>

        <div class="col-md-3" id="first_product_background" >
            <img src="~/images/product1.jpg" alt="First Product" id="product">
            <h3 id="product_title"> <b> Auto Clutch & Brake</b></h3>
            <p id="product_price">Price: $120.0</p>
            <a class="Item_button" asp-area="" asp-controller="Home" asp-action="Single_product">Shop Now</a>
    
        </div>

    </div>
    <div class="row" style="margin-top: 2rem;">

        <div class="col-md-3" id="first_product_background" >
            <img src="~/images/product1.jpg" alt="First Product" id="product">
            <h3 id="product_title"> <b> Auto Clutch & Brake</b></h3>
            <p id="product_price">Price: $120.0</p>
            <a class="Item_button" asp-area="" asp-controller="Home" asp-action="Single_product">Shop Now</a>
    
        </div>

        <div class="col-md-3" id="first_product_background" >
            <img src="~/images/product1.jpg" alt="First Product" id="product">
            <h3 id="product_title"> <b> Auto Clutch & Brake</b></h3>
            <p id="product_price">Price: $120.0</p>
            <a class="Item_button" asp-area="" asp-controller="Home" asp-action="Single_product">Shop Now</a>
    
        </div>

        <div class="col-md-3" id="first_product_background" >
            <img src="~/images/product1.jpg" alt="First Product" id="product">
            <h3 id="product_title"> <b> Auto Clutch & Brake</b></h3>
            <p id="product_price">Price: $120.0</p>
             <a class="Item_button" asp-area="" asp-controller="Home" asp-action="Single_product">Shop Now</a>
    
        </div>

        <div class="col-md-3" id="first_product_background" >
            <img src="~/images/product1.jpg" alt="First Product" id="product">
            <h3 id="product_title"> <b> Auto Clutch & Brake</b></h3>
            <p id="product_price">Price: $120.0</p>
             <a class="Item_button" asp-area="" asp-controller="Home" asp-action="Single_product">Shop Now</a>
    
        </div>

    </div>
</div>
<!-- Items End -->


