@{
    // ViewData["Title"] = "Privacy Policy";
}
<!-- Single Page Start -->

    <div class="container" id="single_product">
        <div class="row" >
            <div class="col-md-6" id="single_product_image">
                <img src="/images/product1.jpg" alt="Single Product">
            </div>

            
            <div class="col-md-6" id="single_product_title">
                <h1 style="text-align: left;">Auto Clutch & Brake</h1>
                <h5 style="text-align: left;">$440.00</h5>
                <span class="fa fa-star " id="checked"></span>
                <span class="fa fa-star " id="checked"></span>
                <span class="fa fa-star " id="checked"></span>
                <span class="fa fa-star " id="checked"></span>
                <span class="fa fa-star " id="checked"></span>
                <h5 style="margin-top: -1.6rem;">( 5 Customer Review )</h5>
                <p id="single_product_desp">Lorem ipsum dolor sit amet, consec adipisicing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                 minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                 com consequat. Duis aute irure dolor in reprehend in voluptate velit esse 
                 cillum dolore</p>
                 <button class="btn btn-primary" id="signle_btn"> ADD TO CART</button>
                 <h4 style="margin-top: 1.6rem;">SKU : <a href="#" id="sku">Ch-256xl</a></h4>
                 <h4>Categories : <a href="#" id="sku">Office, Home</a></h4>
                 <h4>Tags : <a href="#" id="sku">Furniture</a></h4>
                 <h4>Share : 
                   <a href="#" id="social_icon_single_product" > <span class="fa fa-instagram"></span> </a>
                   <a href="#" id="social_icon_single_product" > <span class="fa fa-twitter"></span> </a>
                   <a href="#" id="social_icon_single_product" > <span class="fa fa-facebook"></span> </a>
                   <a href="#" id="social_icon_single_product" > <span class="fa fa-pinterest"></span> </a>
                 </h4>
            </div>
        </div>
    </div>

    <!-- Desp Start -->
    <div class="container">
        <div class="row" id="second_part_single">
            <h2 style="text-align: left; margin-top: -6rem; font-size: 1.5rem; color: black;">Description: </h2>
            <p id="single_product_desp_sec">Lorem ipsum dolor sit amet, consec adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                com consequat. Duis aute irure dolor in reprehend in voluptate velit esse 
                cillum dolore.Lorem ipsum dolor sit amet, consec adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                com consequat. Duis aute irure dolor in reprehend in voluptate velit esse 
                cillum dolore</p>
              
        </div>
    </div>
<!-- Single Page End -->

